<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div class="footerinit" th:fragment="footer">
    <div class="footer-box">
        <div id="footer-top">
            footer
        </div>
        <div id="footer-logo">
            copang
        </div>
        <address id="footer-address">
            강동구 양재대로 123길 30
        </address>
        <div id="footer-cs">
            고객센터
        </div>
    </div>
</div>

</html>