<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:pro="http://www.springframework.org/security/tags">
<div class="topmenu" th:fragment="topmenu">
    <section class="top-section-bar">
        <article class="top-bar">
            <section class="top-bar-section" sec:authorize="!isAuthenticated()">
                <span class="user-login-section">
                    <a th:href="@{/}">고객센터</a>
                    <a th:href="@{/user/signup}">회원가입</a>
                    <a th:href="@{/user/login}">로그인</a>
                </span>
            </section>
            <section class="top-bar-section" sec:authorize="isAuthenticated()">
                <span class="user-login-section">
                    <a th:href="@{/}">고객센터</a>
                    <a th:href="@{/logout}">logout</a>
                    <a th:href="@{/user/mypage}" sec:authentication="principal.username" style="font-weight: bold">user</a>
                </span>
            </section>
        </article>
    </section>
</div>
<div class="searchmenu" th:fragment="searchmenu">
    <section class="top-section-search">

        <article class="search-section">
            <li class="category-list">
                <button class="category-button">카테고리</button>
                <ul class="category-event">
                    <li><a class="A-category" href="http://localhost:8080/product/category/카테">1</a></li>
                    <li><a class="A-category" href="http://localhost:8080/product/category/카테">2</a></li>
                    <li><a class="A-category" href="http://localhost:8080/product/category/카테">3</a></li>
                    <li><a class="A-category" href="http://localhost:8080/product/category/카테">4</a></li>
                </ul>
            </li>
            <a th:href="@{/}"><img class="logo-test" th:src="@{/image/layout/logo.png}" width="174" height="41"></a>
            <form class="search-form" method="get" action="/product/search/">
                <select class="search-form-select">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                </select>
                <input class="search-input-text" type="text" name="item">
                <input class="search-submit" type="submit" value="검색">
                <a class="top-mypage-button" th:href="@{/user/mypage}"><img th:src="@{/image/layout/profile.PNG}" width="60" height="60"></a>
                <a class="top-bucket-button" th:href="@{/user/mypage/buketList}"><img th:src="@{/image/layout/cart.png}" width="60" height="60"></a>
            </form>
        </article>
    </section>
    <script>
        $(".category-button").mouseenter("");
        $(".category-button").mouseleave("");
    </script>
</div>

</html>