<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/header :: headLinkInit"></head>
<head>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
    <div class="login-view-label">
        <div>
            <a th:href="@{/}"><img class="logo-test" th:src="@{/image/layout/logo.png}" width="174" height="41"></a>
            <form class="login-form" action="/user/findPassword" method="post">
                <input type="email" name="email" placeholder="아이디(이메일)"><br>
                <input id="login-submit" type="submit" value="찾기">
            </form>
        </div>
    </div>


</body>
<script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
<script>
    // var result = [[${errorcode}]];
    // if (result == 404) {
    //     alert('아이디 비밀번호를 확인하세요!');
    // }
</script>
</html>