<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/header :: headLinkInit"></head>
<head>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
    <div>
        <div th:replace="layout/top :: topmenu"></div>
    </div>

    <div class="login-view-label">
        <h2>코팡 이미지</h2>
        <div>
            <a th:href="@{/}"><img class="logo-test" th:src="@{/image/layout/logo.png}" width="174" height="41"></a>
            <form class="login-form" action="/user/login" method="post">
                <input type="email" name="email" placeholder="아이디(이메일)"><br>
                <input type="password" name="password" placeholder="비밀번호()"><br>
                <h2>로그인 기억하기</h2><input type="checkbox" checked="checked" id="rememberMe" name="remember-me"><br>
                <input type="submit" value="로그인">
<!--                <div><input type="email" name="email" placeholder="아이디(이메일)"></div>-->
<!--                <div><input type="password" name="password" placeholder="비밀번호()"></div>-->
<!--                <div><h2>로그인 기억하기</h2><input type="checkbox" checked="checked" id="rememberMe" name="remember-me"></div>-->
<!--                <div><input type="submit" value="로그인"></div>-->
            </form>
        </div>
    </div>


    <div>
        <div th:replace="layout/footer :: footer"></div>
    </div>
</body>
<!--<script src="//code.jquery.com/jquery-3.2.1.min.js"></script>-->
<script>
    // var result = [[${errorcode}]];
    // if (result == 404) {
    //     alert('아이디 비밀번호를 확인하세요!');
    // }
</script>
</html>