<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/header :: headLinkInit"></head>
<body>
    <div>
        <div th:replace="layout/top :: topmenu"></div>
    </div>

    <h2>mypage</h2>
    userData
    <div>
<!--        tr th:each="userData : ${userData}" th:object="${userData}">
            <td th:text="${userData.email}">email</td>
        </tr>-->
        <form action="/user/update" method="get">
            <input type="hidden" th:value="${userData.email}" name="email">
            <input type="submit" value="변경하기">


            <div th:each="userData :${userData}" th:object="${userData}">
                <div th:text="${userData.id}"></div>
                <div th:text="${userData.email}"></div>
                <div th:text="${userData.address}"></div>
                <div th:text="${userData.password}"></div>
                <div th:text="${userData.id}"></div>
            </div>
        </form>
    </div>

    <div>
        <div th:replace="layout/footer :: footer"></div>
    </div>
</body>
</html>