body html {
    padding: 0;
    margin: 0;
    font-size: 15px;
}

a {
    color: black;  text-decoration: none;
}
a:hover {
    color: black;  text-decoration: none;
}


/* top */


.top-bar-section {
    background-color: #EEEBEB;
    width:100%;
    float:right;
    padding-right: 10%;
}

.user-login-section > a {
    float:right;
    padding-left:1%;
}

.category-list {
    list-style-type: none;
    margin-left:10%;
    display:inline;
}

.category-button {
    width:100px;
    height:100px
}


.category-event {
    position: absolute;
    list-style-type: none;
    text-decoration: none;
    height: 0px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    margin-left:10%;
}
.category-list:hover .category-event {
    height: 90px;
    background-color: #EEEBEB;
    width: 100px;
    border: 1px solid black;
}
.A-category {
    text-decoration: none;
    display: block;
    width: 100px;
    border: 1px solid black;
    float: left;
}


.search-section {
    position: absolute;
    width: 100%;
    height: 150px;
    padding-left: 10%;
    padding-right: 10%;
    margin-top:25px;
}
.search-section > form{
    position: absolute;
    display: inline;
    width: 100%;
    margin-top: 30px;
}
.search-form-select {
    width: 50px;
    height: 37px;
}
.search-input-text {
    position: absolute;
    width: 400px;
    height: 37px;
}
.search-submit {
    display: inline;
    position: absolute;
    margin-left: 395px;
    width: 50px;
    height: 37px;
}
.top-mypage-button {
    display: inline;
    position: absolute;
    left:530px;
}
.top-bucket-button {
    display: inline;
    position: absolute;
    left:610px;
}



/* top */

/* footer */
.footerinit {
    bottom: 0;
    width: 100%;
    border-top: 2px solid gray;
}
.footer-box {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 100px;
    margin-top: 5px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5px;
}

#footer-logo {
    grid-column: 1;
    grid-row: 1;
    background-color: green;
}
#footer-properties {
    grid-column: 2;
    grid-row: 1;
    background-color: blue;
}
#footer-address {
    grid-column: 3;
    grid-row: 1;
    background-color: brown;
}
#footer-cs {
    grid-column: 4;
    grid-row: 1;
    background-color: darkkhaki;
}
/* footer */