#mypage-grid {
    border: 1px solid black;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 118px 100%;
    margin-top: 5px;
    margin:auto;
    margin-bottom: 5px;
}
.mypage-top-box{
    background-color:#9BC9E8;
}

#first-grid {
    grid-row: 1;
    border: 1px solid black;
    display: grid;
    margin-left:10%;
    grid-template-columns: 200px 156px 156px 156px 360px;
    grid-template-rows: 118px;
}

#second-grid{
    grid-row: 2;
    display: grid;
    margin-left:10%;
    grid-template-columns: 200px 500px;
    grid-template-rows: 100%;
}


#first-nested-1-1 {
    grid-column: 1;
    grid-row: 1;
}
#first-nested-1-2 {
    grid-column: 2;
    grid-row: 1;
}
#first-nested-1-3 {
    grid-column: 3;
    grid-row: 1;
}
#first-nested-1-4 {
    grid-column: 4;
    grid-row: 1;
}
#first-nested-1-5 {
    grid-column: 5;
    grid-row: 1;
}

#second-nested-1 {
    font-size: 13px
}
#second-nested-1 {
}