.signup-view-label {
    padding-top:100px;
    text-align:center;
}

.signup-form > input {
    width:500px;
    height:45px;
    margin-top:8px;
    margin-bottom:8px;
}
.login-sign-in {
    width:500px;
    height:45px;
    background-color:white;
    border:1px solid gray;
    color:#0754FB;
    font-weight:bold;
}

#signup-submit {
    width:500px;
    height:45px;
    background-color:#0754FB;
    border:none;
    color:white;
    font-weight:bold;

}

#input-seperator {
}

